*{
    margin: 0 auto;
    background-color: mediumseagreen;
    color: black;
    font-family: 'raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-style: normal;
    
    
    
}